<a href="https://colab.research.google.com/github/wangshouh/InteractiveScore/blob/main/ch1/cleardata_ch1_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
landtemps = pd.read_csv(
    'https://raw.githubusercontent.com/PacktPublishing/Python-Data-Cleaning-Cookbook/master/Chapter01/data/landtempssample.csv',
    names = [
             'stationid', 'year', 'month', 'avgtemp', 'latitude', 'longitude', 'evevation',
             'station', 'countryid', 'country'
             ],
    skiprows = 1,
    parse_dates = [['month', 'year']],
    low_memory=False

                        )

In [ ]:
landtemps.head()

  month_year    stationid  avgtemp  ...           station  countryid        country
0 2000-04-01  USS0010K01S     5.27  ...     INDIAN_CANYON         US  United States
1 1940-05-01  CI000085406    18.04  ...             ARICA         CI          Chile
2 2013-12-01  USC00036376     6.22  ...     SAINT_CHARLES         US  United States
3 1963-02-01  ASN00024002    22.93  ...  BERRI_IRRIGATION         AS      Australia
4 2001-11-01  ASN00028007      NaN  ...          MUSGRAVE         AS      Australia

[5 rows x 9 columns]

In [ ]:
landtemps.dtypes

month_year    datetime64[ns]
stationid             object
avgtemp              float64
latitude             float64
longitude            float64
evevation            float64
station               object
countryid             object
country               object
dtype: object

In [ ]:
landtemps.shape

(100000, 9)

In [ ]:
landtemps.isnull().sum()

month_year        0
stationid         0
avgtemp       14446
latitude          0
longitude         0
evevation         0
station           0
countryid         0
country           5
dtype: int64

In [ ]:
landtemps.dropna(subset=['avgtemp'], inplace=True)

In [ ]:
landtemps.shape

(85554, 9)